
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background: linear-gradient(-45deg, #A3DDCB, #EFD9D1, #BBBBBB, #FFE8F1);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*    height: 100%;*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*}*/

/*.container {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/

/*h1 {*/
/*    color: #333;*/
/*    text-align: center;*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    margin-top: 20px;*/
/*}*/

/*th, td {*/
/*    padding: 15px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*th {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*tr:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

/*a {*/
/*    color: #333;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    color: #4CAF50;*/
/*}*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #A3DDCB, #EFD9D1, #BBBBBB, #FFE8F1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: black;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

