{% extends 'base.html' %}

{% block title %}{{ company_data['Company'] }} - Details{% endblock %}

{% block content %}
<h1>{{ company_data['Company'] }} - Details</h1>

<table>
  <tr class="info-row">
    <th>Company</th>
    <td>{{ company_data.company }}</td>
  </tr>
  <tr class="info-row">
    <th>Avg. Estimate</th>
    <td>{{ company_data.avg_estimate }}</td>
  </tr>
  <tr class="info-row">
    <th>Low Estimate</th>
    <td>{{ company_data.low_estimate}}</td>
  </tr>
  <tr class="info-row">
    <th>High Estimate</th>
    <td>{{ company_data.high_estimate }}</td>
  </tr>
  <tr class="info-row">
    <th>Sales Growth (year/est)</th>
    <td>{{ company_data.sales_growth }}</td>
  </tr>
</table>

<!-- {% endblock %} -->



