
{% extends 'base.html' %}

{% block title %} List of Exchange Stocks {% endblock %}

{% block content %}
<h1>Top 10 Expensive Companies</h1>
<table border="1">
    <thead>
        <tr>
            <th>Company</th>
            <th>Avg. Estimate</th>
            <th>Low Estimate</th>
            <th>High Estimate</th>
            <th>Sales Growth (year/est)</th>
        </tr>
    </thead>
    <tbody>
        {% for company_data in data %}
        <tr>
            <td>{{ company_data.get('Company', '') }}</td>
            <td>{{ company_data.get('Avg. Estimate', '') }}</td>
            <td>{{ company_data.get('Low Estimate', '') }}</td>
            <td>{{ company_data.get('High Estimate', '') }}</td>
            <td>{{ company_data.get('Sales Growth (year/est)', '') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
