{% extends 'base.html' %}

{% block content %}

<form method="post" style='width: 25%; margin-left: 25px;' >
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@btu.edu.ge">     
    </div>
    <div class="mb-2">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="********">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

{% endblock %}

